.sidenav {
  background: linear-gradient(to right, #007056 0%, #00c09a 100%);
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 3rem;
  height: 100vh;

  @media screen and (min-width: 769px) {
    width: 4rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.608rem 0 0 0;
    width: 100%;
    transition: all 1.5s ease;

    @media screen and (min-width: 769px) {
      padding: 0.608rem 0.608rem 0 0.608rem;
    }

    .icon-button {
      background: transparent;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.323rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
      color: #fff;
      transition: transform 0.3s ease-in-out;
    }

    .logo-text {
      margin: 0;
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 300;
      line-height: 100%;
      letter-spacing: 0.03em;
      font-family: "jaf-domus", sans-serif;
    }
  }
}

.sidenav-collapsed {
  width: 12.5625rem;

  @media screen and (min-width: 769px) {
    width: 16.5625rem;
  }
}

.icon-button.open {
  transform: rotate(180deg);
}

.sidenav-nav {
  list-style: none;
  padding: 0.608rem 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);

  @media screen and (min-width: 769px) {
    padding: 0.608rem;
  }

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
    cursor: pointer;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;

        font-weight: 300;
        line-height: 100%;
        letter-spacing: 0.03em;
        font-family: "jaf-domus", sans-serif;
      }
    }

    .sidenav-nav-link:hover {
      background: #aad0ff;
      color: #000;
    }
  }
}

.active {
  background: #cfe5ff;

  .menu-collapse-icon,
  .sidenav-link-icon,
  .sidenav-link-text {
    color: #000;
  }
}

// ESSE CSS ERA PARA TER UM SUBMENU DE ITEMS NOS ITEMS DA NAV BAR

.active-sublevel {
  background: #cfe5ff;
  .sublevel-link-text {
    color: #000;
  }
}

.menu-collapse-icon {
  font-size: 25px;
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: #f3f3f3;
}

.sublevel-nav {
  list-style: none;
  margin-left: 10px;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;

      .sublevel-link-icon {
        font-size: 4px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sublevel-link-text {
        margin-left: 0.8rem;
      }
    }

    .sublevel-nav-link:hover {
      color: #000 !important;
      background: #aad0ff;
    }
  }
}
