<app-header [title]="'Lista de Solicitações'"></app-header>
<main>
  <div class="acoes">
    <button mat-button (click)="abrirModalCriarNova()">
      <i class="fal fa-plus"></i>
      Criar Nova
    </button>

    <button mat-button (click)="abrirModalFiltros()">
      <i class="fal fa-filter"></i>
      Filtrar
    </button>
  </div>
  <div class="main-content">
    <div *ngFor="let solicitacao of solicitacoes">
      <div class="card-solicitacao">
        <p class="nome-solicitante">
          <b>Nome: </b>{{ solicitacao.nomeSolicitante }}
        </p>
        <p class="descricao-produto">
          <b>Descrição: </b>
          <br />
          {{ solicitacao.descricaoItem }}
        </p>
        <p class="preco-produto">
          <b>Preço: </b>{{ solicitacao.precoProduto }}
        </p>
      </div>
      <button
        class="extension-card-for-button"
        mat-raised-button
        color="primary"
      >
        Ver Detalhes
      </button>
    </div>
  </div>
</main>
