<div class="criar_nova">
  <h6>Criar Solicitação</h6>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nome Solicitante</mat-label>
      <input
        matInput
        placeholder="Ex. João Silva"
        [value]="data.nome_solicitante"
        (change)="handleChangeFiltros($event, 'nome_solicitante')"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descrição Produto</mat-label>
      <input
        matInput
        placeholder="Ex. Clips de papel"
        [value]="data.descricao_produto"
        (change)="handleChangeFiltros($event, 'descricao_produto')"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Preço</mat-label>
      <input
        matInput
        placeholder="Ex. 6000"
        [value]="data.preco"
        (input)="formatarPreco($event)"
        appCurrencyMask
      />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-button
      (click)="criar()"
      [ngClass]="
        !data.nome_solicitante || !data.descricao_produto || !data.preco
          ? 'disabled'
          : ''
      "
      [disabled]="
        !data.nome_solicitante || !data.descricao_produto || !data.preco
      "
    >
      Criar
    </button>
  </mat-dialog-actions>
</div>
